git .bg{ 
    background-image: url(https://w0.peakpx.com/wallpaper/63/461/HD-wallpaper-gold-bars-value-bars-currency-gold.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.wordColor {
    color: white;
}



.pic { 
    background-image: url(https://www.wallpaperbetter.com/wallpaper/318/957/187/gold-coin-widescreen-hd-1080P-wallpaper-middle-size.jpg);
    background-repeat: no-repeat; 

}