* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0px;
}
main {
  display: flex;
  flex-wrap: wrap;
}

h1 {
  font-size: 36pt;
  text-align: center;
}

p{
  text-align: center;
}

.container-ndf {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 15px;
  width: 100%;
}
.container-ndf h2 {
  margin-bottom: 15px;
}
.container-ndf .thisDiv .thisForm {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 150px;
}
/** box-01 **/
.container-ndf .thisDiv .thisForm .currency-value {
  width: 20%;
  height: auto;
  background-color: rgba(151, 130, 7, 0.5);
  color: #ffffff;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
}
.container-ndf .thisDiv .thisForm .currency-value .amount {
width: 250px;
font-size: 14px;
padding: 10px;
border-radius: 5px;
border: none;
background-color: rgba(255, 248, 211, 0.5);
}

/** box-02 **/
.container-ndf .thisDiv .thisForm .country-from {
  width: 20%;
  height: auto;
  background-color: rgba(151, 130, 7, 0.5);
  color: #ffffff;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
}
.container-ndf .thisDiv .thisForm .country-from #countryFromCurrency {
  width: 250px;
  height: auto;
  background-color: rgba(151, 130, 7, 0.7);
  color: #ffffff;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  border: none;
}
.container-ndf .thisDiv .thisForm .country-from #countryFromCurrency:hover {
  background-color: #000000;
}
/** box-03 **/
.container-ndf .thisDiv .thisForm .country-to {
  width: 20%;
  height: auto;
  background-color: rgba(151, 130, 7, 0.5);
  color: #ffffff;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
}
.container-ndf .thisDiv .thisForm .country-to #countryToCurrency {
  width: 250px;
  height: auto;
  background-color: rgba(151, 130, 7, 0.7);
  color: #ffffff;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  border: none;
}
.container-ndf .thisDiv .thisForm .country-to #countryToCurrency:hover {
  background-color: #000000;
}
/** box-04 **/
.container-ndf .thisDiv .thisForm .convert-to {
  width: 20%;
  height: auto;
  background-color: rgba(151, 130, 7, 0.5);
  color: #ffffff;
  text-align: left;
  padding: 10px;
  border-radius: 5px;
}
.container-ndf .thisDiv .thisForm .convert-to .btnConvert-ndf {
  background-color: goldenrod;
  color: #ffffff;
  border-radius: 5px;
  border: none;
  padding: 5px 10px 5px 10px;
}
.container-ndf .thisDiv .thisForm .convert-to .btnConvert-ndf:hover {
  background-color: #000000;
}
/** Container 2 - NDF **/
.container-ndf-2 {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  padding: 5px;
  margin: 10px;
  align-items: flex-start;
}
.container-ndf-2 .messageHandler {
  color: #ffffff;
  background-color: rgba(151, 130, 7, 0.5);
  padding: 10px;
  border-radius: 5px;
}
.pic4 {
  background-image: url(https://miro.medium.com/max/720/1*vS9rr8ROCubVVnOdLE6ERA.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media screen and (max-width: 992px) {

}

button {
  width: auto;
}

#arrow-icon {
  font-size: 60px;
  width: 100px;
  height: 100px;
}

.country-from {
  flex-direction: column;
  vertical-align: middle;
}
.bg{ 
  background-image: url(https://w0.peakpx.com/wallpaper/63/461/HD-wallpaper-gold-bars-value-bars-currency-gold.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.wordColor {
  color: white;
  text-shadow: 2px 2px 1px black;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;

}
div.pic {
    padding: 20px;
}

div.pic2 {
    padding: 20px;
}

.pic2 {
    background-image: url(https://i0.wp.com/cdn.clickwallpapers.net/images/clickwallpapers-bitcoin-cryptocurrency-in-4k-img7.jpg?w=958&ssl=1);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

h2 {
    color: goldenrod;
    background-color: black;
    margin-bottom: 0;
    text-align: center;
    
}

body  {
    background-color: black;

}

div {
    color: goldenrod
}

/** Davids Part **/
.davs-form {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 15px;
}

.davs-form h2{
  margin-bottom: 15px;
}
.davs-form .cont1 {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 15px;
  width: 100%;
}
.davs-form .cont1 .country-from {
  width: 33%;
  height: auto;
  background-color: rgba(151, 130, 7, 0.5);
  color: #ffffff;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
}

.davs-form .cont1 .arrow {
  width: 33%;
  height: auto;
  background-color: rgba(151, 130, 7, 0.5);
  color: #ffffff;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
}
.davs-form .cont1 .country-from {
  width: 33%;
  height: auto;
  background-color: rgba(151, 130, 7, 0.5);
  color: #ffffff;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
}

footer {
  display: block;
  text-align: center;
  color: goldenrod;
}

.picAG {
  background-image: url(https://miro.medium.com/max/720/1*vS9rr8ROCubVVnOdLE6ERA.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/** Hyun's CSS **/
#hyuns-form h2 {
  margin-bottom: 15px;
}
#hyuns-form {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 15px;
  width: 100%;
}
.pic {
  background-image: url(https://www.wallpaperbetter.com/wallpaper/318/957/187/gold-coin-widescreen-hd-1080P-wallpaper-middle-size.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.form-main {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  padding: 15px;
  width: 100%;
}
/** BOX 1 **/
.pic .country-from {
  width: 20%;
  height: auto;
  background-color: rgba(151, 130, 7, 0.5);
  color: #ffffff;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
}
.pic .country-from .metalFromOption {
  width: 250px;
  height: auto;
  background-color: rgba(151, 130, 7, 0.7);
  color: #ffffff;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

/** BOX 2 **/
.pic .fromLabelHyuns {
  width: 20%;
  height: auto;
  background-color: rgba(151, 130, 7, 0.5);
  color: #ffffff;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
}
.pic .fromLabelHyuns .amountMetalFrom {
  width: 250px;
  font-size: 14px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: rgba(255, 248, 211, 0.5);
  }
  .pic .fromLabelHyuns .karatFrom {
    width: 250px;
    height: auto;
    background-color: rgba(151, 130, 7, 0.7);
    color: #ffffff;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 15px;
  }
/** BOX 3 **/
.pic .arrow {
  width: 20%;
  height: auto;
  background-color: rgba(151, 130, 7, 0.5);
  color: #ffffff;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
}
.pic .arrow .arrow-this{
  width: 20%;
  height: auto;
  background-color: rgba(151, 130, 7, 0.5);
  color: #ffffff;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  margin: 15px;
}
.pic .arrow .btnStartOverG{
  background-color: goldenrod;
  color: #ffffff;
  border-radius: 5px;
  border: none;
  padding: 5px 10px 5px 10px;
}
/** BOX 4 **/
.pic .country-from {
  width: 20%;
  height: auto;
  background-color: rgba(151, 130, 7, 0.5);
  color: #ffffff;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
}
.pic .country-from .countryToOptionG {
  width: 250px;
  height: auto;
  background-color: rgba(151, 130, 7, 0.7);
  color: #ffffff;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-bottom: 15px;
}

/** BOX 5 **/
.pic .result-Hyuns {
  width: 20%;
  height: auto;
  background-color: rgba(151, 130, 7, 0.5);
  color: #ffffff;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
}
.pic .result-Hyuns .btnConvertG {
  background-color: goldenrod;
  color: #ffffff;
  border-radius: 5px;
  border: none;
  padding: 5px 10px 5px 10px;
  margin-bottom: 15px;
}

.pic .result-Hyuns .result  {
  background-color: rgba(255, 248, 211, 0.5);
  color: #ffffff;
  border-radius: 5px;
  border: none;
  padding: 5px 10px 5px 10px;
}

